
*{
  padding: none;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}
body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  color: white;
  background-color: #ffe5b9;
}


.outlink{
  color: black;
}

/* For Nav ------------------------- */
.navbar{
  height: 5rem;
}
.nav{
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #325266;
  position: fixed;
}
.nav-header{
  text-decoration: underline;
}
.nav-links{
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
  gap: 4rem;
  font-size: 1.25rem;
    a{
      text-decoration: none;
      color: white;
      font-weight: 600;
      text-align: end;

    }
  a:hover{
    text-decoration: underline;
  }
}


/* Visit Link -------------------------------------- */
.visit-url{
background-color:#325266;
color: white;
width: 4rem;
height: 2rem;
border-radius: .5rem;
border: none;
font-size: 1rem;
font-weight: 600;
}
.visit-url:hover{
  cursor: pointer;
}
