.news-container{
    margin-top: 1rem;
    padding: .75rem;
    margin-left: 1rem;
    border-radius: .5rem;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.header{
    margin: 1rem;
    text-align: center;
  }